/* You can add global styles to this file, and also import other style files */
/* SOLUTION TO: scroll bar was disappering randomly on modal close */
body.modal-open {
    overflow-y: hidden!important;
    padding-right: 0!important;
    
  }
body {
    overflow-y: scroll!important;
    padding-right: 0!important;
  }
