<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container">    
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">      
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-sm-0" href="https://mdbootstrap.com/">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="20"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link " href="#">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="https://mdbootstrap.com/docs/standard/">About MDB</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="https://mdbootstrap.com/docs/standard/getting-started/installation/">Free download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://mdbootstrap.com/education/bootstrap/">Free tutorials</a>
          </li> -->
        </ul>
        <!-- Left links -->      
      </div>
      <!-- Collapsible wrapper -->
      
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="nav-link me-3" routerLink="" (click)="openFullscreen(content)" >
          <i class="fas fa-shopping-cart"></i>
          <span *ngIf="itemsInCart" class="badge rounded-pill badge-notification bg-danger">{{itemsInCart}}</span>
        </a>
        <a class="nav-link me-3" href="#">
          <i class="far fa-user"></i>
        </a>
        <!-- 
        <a class="nav-link me-3" href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="border rounded px-2 nav-link"
                target="_blank">
                <i class="fab fa-github me-2"></i>MDB GitHub
              </a> -->
      </div>
      <!-- Right elements -->
      
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Your shopping cart <h5>Pre-tax Total: {{totalCost | currency}}</h5></h4>
      
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div *ngFor="let item of shoppingCart" class="list-group">
        <div class="list-group-item list-group-item-action d-flex flex-row align-items-center justify-content-between ">
          <div class="d-flex flex-row align-items-center justify-content-between">
            <div>
              <img [src]="item.image" [alt]="item.title" width="130px" height="130px">
            </div>
            <div class="pl-3">
              <h5>{{item.title}}</h5>
              <h6>{{item.price|currency}}</h6>
            </div>
          </div>
          <div>
            <a routerLink="" style="color: rgb(131, 129, 129); opacity: 50%;">
              <i class="fa-regular fa-trash-can fa-xl"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
   
    <div class="modal-footer">
      <button type="button" class="btn btn-dark">CheckOut</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>