<!-- Navbar -->
<app-menu-navbar></app-menu-navbar>
<!-- Navbar -->
<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container">
      
        <!-- Heading -->
        <h2 class="my-5 text-center">Checkout form</h2>

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-8 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge rounded-pill badge-primary">{{itemsInCart}}</span>
                </h4>
                <!-- Cart -->
                <ul class="list-group mb-3 h-100" >
                    <li *ngFor="let item of shoppingCart" class="list-group-item d-flex justify-content-between align-items-center">
                      <div class="d-flex">
                        <img src="{{item.image}}" class="me-3" style="max-width: 100px;">
                        <div class="d-flex flex-column w-50"  style="height: 100%;">
                          <h6 class="my-0 flex-grow-1" [title]="item.title">{{item.title | slice: 0:30 }}</h6>
                          <small class="text-muted flex-grow-2 text-wrap" [title]="item.description">{{item.description | slice: 0:90}}</small>
                        </div>
                      </div>
                      <div class="w-25">
                        <p class="me-4 mb-0">Qty: {{item.quantity}}</p>
                      </div>
                      <div class="d-flex align-items-center">
                        
                        <span class="text-muted me-auto">{{item.price | currency}}</span>
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span>Pre-tax Total (USD)</span>
                      <strong>{{totalCost | currency}}</strong>
                    </li>
                  </ul>
            </div>
            <!--Grid column-->
          
            <!--Grid column-->
            <div class="col-md-4 mb-4">
                <!-- Heading -->
                
                  <!-- Cart -->
                <!-- Promo code -->
                <!-- <form class="card p-2">
                    <div class="input-group mb-3">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Promo code"
                        aria-label="Promo code"
                        aria-describedby="button-addon2"
                    />
                    <button class="btn btn-primary" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                        redeem
                    </button>
                    </div>
                </form> -->
                <!-- Promo code -->
                <!-- <button class="btn btn-outline-primary mb-2 me-2" (click)="openVerticallyCentered(successorder)">
                  Modal vertically centered
                </button> -->
                <div id="paypal-button-container"></div>
                
            </div>
              <!-- footer -->
            <app-footer></app-footer>
            <!--Grid column-->
        </div>
       
        <!--Grid row-->
    </div>
   
</main>

<!--Main layout-->

<ng-template #successorder let-modal>
  <div class="modal-header">
		<h4 class="modal-title">Order has been successfully processed.</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
  <div class="modal-body">
            <div class="card" style="border-radius: 10px;">
              <div class="card-header px-4 py-5">
                <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #607D8B;">{{username | titlecase}}</span>!</h5>
                <h6>Navigate to "Account Details" to view order history.</h6>
              </div>
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <p class="lead fw-normal mb-0" style="color: #607D8B;">Receipt</p>
                  <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
                </div>
                <div *ngFor="let item of shoppingCart" class="card shadow-0 border mb-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2">
                        <img [src]="item.image"
                          class="img-fluid" alt="Phone">
                      </div>
                      <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0">{{item.title}}</p>
                      </div>
                      <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <!-- <p class="text-muted mb-0 small">White</p> -->
                      </div>
                      <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <!-- <p class="text-muted mb-0 small">Capacity: 64GB</p> -->
                      </div>
                      <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">{{item.quantity}}</p>
                      </div>
                      <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">{{item.price | currency}}</p>
                      </div>
                    </div>
                    <!-- <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                    <div class="row d-flex align-items-center">
                      <div class="col-md-2">
                        <p class="text-muted mb-0 small">Track Order</p>
                      </div>
                      <div class="col-md-10">
                        <div class="progress" style="height: 6px; border-radius: 16px;">
                          <div class="progress-bar" role="progressbar"
                            style="width: 65%; border-radius: 16px; background-color: #607D8B;" aria-valuenow="65"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex justify-content-around mb-1">
                          <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivery</p>
                          <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2">
                  <p class="fw-bold mb-0">Order Details</p>
                  <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> {{totalCost | currency}}</p>
                </div>
    
                <div class="d-flex justify-content-between pt-2">
                  <p class="text-muted mb-0">Invoice Number : 788152</p>
                  <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $0.00</p>
                </div>
    
                <div class="d-flex justify-content-between">
                  <p class="text-muted mb-0">Invoice Date : 22 Dec,2019</p>
                  <!-- <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p> -->
                </div>
    
                <div class="d-flex justify-content-between mb-5">
                  <p class="text-muted mb-0">Recepits Voucher : 18KU-62IIK</p>
                  <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
                </div>
              </div>
              <div class="card-footer border-0 px-4 py-5"
                style="background-color: #607D8B; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                  paid: <span class="h2 mb-0 ms-2">{{totalCost | currency}}</span></h5>
              </div>
            </div>
          </div>
  <div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.dismiss('Close click')">Close</button>
	</div>
</ng-template>



